<!-- HEADER & BOTÓN DE MENU -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-title> YouGames - Shooters </ion-title>
      <ion-title class="user-mail"><b>{{userData?.mailInput}}</b></ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<!-- CONTENIDO DE LA PAGINA -->
<ion-content class="ion-padding">

  <div class="content">
    <h1><b>Los mejores Shooter</b></h1>
    <p>
      Tenemos los mejores juegos shooters del mercado. Primera persona, tercera persona, realidad virtual. Sagas Call of Duty, Battlefield, Metal Gear Solid, Hitman y mucho más.
    </p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Catálogo shooters</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://image.api.playstation.com/vulcan/ap/rnd/202305/2515/586f0b4d3c158e5dcae2c7c0bc589df078bc9bf955b1ceae.png" />
            </ion-thumbnail>
            <ion-label>Battlefield 2042</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://image.api.playstation.com/cdn/EP0006/CUSA02387_00/bgWtVB6cCIhNpWPdAW3UDdvpve8kxic0.png" />
            </ion-thumbnail>
            <ion-label>Battlefield 1</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://s2.abcstatics.com/abc/www/multimedia/tecnologia/2023/11/15/mw3-RJo0CaIbI8dC1T6AZlCPb6H-1200x840@abc.jpg" />
            </ion-thumbnail>
            <ion-label>Call of Duty Modern Warfare III</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://image.api.playstation.com/vulcan/img/cfn/11307CjjUZ9rA_whmJUghJsG9Hl1-rmnOUTk3-nccj01ZpYMCHrJ8k8kzBrVyp-p-iCPej73TEJAs88ZBeiZ1uirtj0fsa16.png?w=440" />
            </ion-thumbnail>
            <ion-label>Call of Duty Black Ops III</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://image.api.playstation.com/vulcan/ap/rnd/202211/2311/fYILkc93xCbduPbg6oCiXyzK.png" />
            </ion-thumbnail>
            <ion-label>Hitman</ion-label>
          </ion-item>
          
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://image.api.playstation.com/vulcan/ap/rnd/202010/0205/xaOrA7ZIur35LkfIzxtOECFv.png" />
            </ion-thumbnail>
            <ion-label>Metal Gear Solid V</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://cdnx.jumpseller.com/deus-digital/image/27122890/resize/540/540?1663194725" />
            </ion-thumbnail>
            <ion-label>Crysis II</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrm9cAHbICMVI4mBLvYLdpKcXT9tHoX0pGUQ&s" />
            </ion-thumbnail>
            <ion-label>Free Fire</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>

  



