<ion-card>
  <ion-card-header>
    <ion-card-title>Formulario de registro</ion-card-title>
    <ion-card-subtitle>Ingresa tus datos</ion-card-subtitle>
  </ion-card-header>

  <!-- FORM -->
  <form [formGroup]="registerForm">
    <!-- USERNAME -->
    <ion-item class="ion-padding">
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input formControlName="usernameInput" type="text" max-lenght="50" placeholder="Nombre de usuario" required></ion-input>
    </ion-item>

    <!-- MAIL -->
    <ion-item class="ion-padding">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="mailInput" type="email" placeholder="Correo electrónico" required></ion-input>
    </ion-item>

    <!-- PASSWORD -->
    <ion-item class="ion-padding">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="passwordInput" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
  </form>

  <ion-row class="ion-justify-content-center">
    <ion-button fill="clear" #button (click)=goToLogin()>Login</ion-button>
    <ion-button fill="clear" #button (click)=registerNewUser()>Registrarse</ion-button>
    <ion-button fill="clear" #button (click)=clearInputs()>Limpiar datos</ion-button>
  </ion-row>

</ion-card>